body {
    text-align: center;
    background-color: rgb(138, 187, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(34, 106, 200);
}

h4 {
    font-size: 20px;
    margin: auto;
}

div {
    color: rgb(30, 54, 76);
    font-family: 'Courier New', Courier, monospace;
}

.game-container {
    margin: auto;
}

board {
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    margin-top: 30px;
    border: 5px solid rgb(228, 228, 228)
}

.board td {
    background-color: rgba(255, 255, 255, 0.87);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board td:hover {
    background-color: rgba(255, 149, 227, 0.779);
    cursor: pointer;
}

.smiley {
    font-size: 40px;
    /* border: 2px solid black; */
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 50px;
}

.smiley:hover,
button:hover {
    background-color: rgba(255, 149, 227, 0.779);
    color: rgb(17, 60, 82);
}

.MINE {
    background-color: rgba(255, 0, 0, 0.779);
}

.timer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    width: 30px;
    height: 20px;
    float: left;
    margin-left: 360px;
    text-align: center;
}

.min,
.sec,
.livesCount,
.level-text {
    color: rgb(25, 94, 129);
}

.lives {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

.level {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    background-color: rgb(25, 94, 129);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.level-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.footer {
    margin-top: 150px;
    font-size: 24;
    padding: 30px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}