body {
    text-align: center;
    background-color: rgb(217, 237, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(25, 94, 129);
    margin-top: 40px;
}

h3 {
    font-size: 24px;
    margin: auto;
}

div {
    color: rgb(30, 54, 76);
    font-family: 'Courier New', Courier, monospace;
}

.game-container {
    margin: auto;
    width: 600px;
    background-color: rgba(167, 209, 246, 0.636);
    padding: 20px 100px 30px 100px;
    border-radius: 20px;
}

.menu {
    margin-bottom: 40px;
}

board {
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    margin-top: 120px;
    border: 10px solid rgb(203, 203, 203)
}

.board td {
    background-color: rgba(255, 255, 255, 0.87);
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board td:hover {
    background-color: rgba(255, 149, 227, 0.779);
    cursor: pointer;
}

.smiley {
    font-size: 40px;
    /* border: 2px solid black; */
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
}

.smiley:hover,
button:hover {
    background-color: rgba(255, 149, 227, 0.779);
    color: rgb(17, 60, 82);
}

.MINE {
    background-color: rgba(255, 0, 0, 0.779);
}

.timer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    width: 50px;
    height: 20px;
    float: left;
    line-height: 30px;
    margin-left: 80px;
    text-align: center;
}

.min,
.sec,
.livesCount,
.mines-text,
.marked-text {
    color: rgb(25, 94, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800px;
}

.lives,
.mines,
.marked {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    width: 50px;
    line-height: 30px;
    height: 20px;
    margin-left: 20px;
    float: left;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 12px;
    color: white;
    font-size: 18px;
    background-color: rgb(25, 94, 129);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

button:focus {
    background-color: rgb(13, 49, 67);
    color: white
}

.level-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.gameover-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 22px;
    height: 20px;
    margin: auto;
}

.footer {
    background-color: rgb(217, 237, 255);
    font-size: 24;
    padding: 60px;
    margin: auto;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}